<!DOCTYPE html>
<html lang="en">
<head>
    <title>WELCOME!</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page">
    <h2><a href="http://localhost:4000/hello">hello page</a></h2>
    <hr/>
    <p>1.<a href="http://localhost:4000/sql_vulnerability">sql_vulnerability</a></p>
    <hr/>
    <p>2.<a href="http://localhost:4000/xss_attack">xss_attack</a></p>
    <hr>
    <p>3.<a href="http://localhost:4000/upload_file">upload_file</a></p>
    <hr>
    <p>4.<a href="http://localhost:4000/include_file">include_file</a></p>
    <hr>
    <p>5.<a href="http://localhost:4000/implement_directive">implement_directive</a></p>
    <hr>
    <p>6.<a href="http://localhost:4000/xxe">xxe</a></p>
    <hr>
    <p>7.<a href="/cookie">set and get cookie</a></p>
    <hr>
    <p>8.<a href="/timing_attack">testify your common sence</a></p>
    <hr>
    <p>9.<a href="/yaml_handle">instersting quote</a></p>
    <hr>
    <p>10.<a href="/json_attack">jsonpickle</a></p>
    </div>
</body>
</html>