<!DOCTYPE html>
<html>
    <head>
        <title>xss</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="page">
        <h1>
            welcome to ideal land!
        </h1>
        <div class="metanav">
        <form method="post">
            <label for="search">something you want to find:</label>
            <input name="search" id="search" required>
            <input type="submit" name="submit" id="submit" value="submit">
        </form>
        </div>
        {% if error %}
            <p class=error><strong>Error:</strong> {{error}}
        {% endif %}
        </div>
    </body>
</html>